<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unicorn.modem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ModemApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_message_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <receiver android:name=".reciever.TrackerAlarmReceiver">
            <intent-filter>
                <action android:name="com.unicorn.modem.reciever.TrackerAlarmReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".reciever.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SmsSenderIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.SmsRecieverService"
            android:exported="false">
        </service>
    </application>

</manifest>